In [1]:
import pandas as pd
import numpy as np
import datetime
from empyrical import max_drawdown, alpha_beta, annual_volatility, sharpe_ratio, sortino_ratio

In [3]:
df_return = pd.read_csv('~/Downloads/total_asset_history.csv')
df_return = df_return.rename(columns = {'Unnamed: 0': 'Date'})
df_return['Date'] = pd.to_datetime(df_return['Date'])
df_return = df_return.loc[df_return['Date'] >= datetime.date(2016,1,4)]
df_return = df_return.set_index(['Date'])
df_return.head()

/Users/Sharonvy/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: FutureWarning: Comparing Series of datetimes with 'datetime.date'.  Currently, the
'datetime.date' is coerced to a datetime. In the future pandas will
not coerce, and a TypeError will be raised. To retain the current
behavior, convert the 'datetime.date' to a datetime with
'pd.Timestamp'.
  after removing the cwd from sys.path.

            total assets
Date
2016-01-04  162258.97500
2016-01-05  158538.15724
2016-01-06  159120.75500
2016-01-07  158674.08724
2016-01-08  156767.42724

In [4]:
df = df_return.pct_change()
df.head()

            total assets
Date
2016-01-04           NaN
2016-01-05     -0.022931
2016-01-06      0.003675
2016-01-07     -0.002807
2016-01-08     -0.012016

In [6]:
zero_rate = pd.read_csv('~/Downloads/feds200628.csv', skiprows = 9)
zero_rate['Date'] = pd.to_datetime(zero_rate['Date'])

zero = zero_rate[['Date', 'SVENY01']]
zero = zero.loc[zero['Date'] >= datetime.date(2016,1,4)]
zero = zero.loc[zero['Date'] <= datetime.date(2019,12,31)]
zero = zero.set_index(['Date'])
zero['SVENY01'] = zero['SVENY01']/3000
zero.head()

/Users/Sharonvy/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: FutureWarning: Comparing Series of datetimes with 'datetime.date'.  Currently, the
'datetime.date' is coerced to a datetime. In the future pandas will
not coerce, and a TypeError will be raised. To retain the current
behavior, convert the 'datetime.date' to a datetime with
'pd.Timestamp'.
  """
/Users/Sharonvy/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:6: FutureWarning: Comparing Series of datetimes with 'datetime.date'.  Currently, the
'datetime.date' is coerced to a datetime. In the future pandas will
not coerce, and a TypeError will be raised. To retain the current
behavior, convert the 'datetime.date' to a datetime with
'pd.Timestamp'.

             SVENY01
Date
2016-01-04  0.000263
2016-01-05  0.000264
2016-01-06  0.000256
2016-01-07  0.000252
2016-01-08  0.000258

In [7]:
quotes = df.join(zero, how = 'inner')
quotes['excess_return'] = quotes['total assets'] - quotes['SVENY01']

returns = np.array(quotes['total assets'].values)
benchmark = np.array(quotes['SVENY01'].values)

In [8]:
maxdd = max_drawdown(returns)
alpha, beta = alpha_beta(returns, benchmark)
ann_vol = annual_volatility(returns)
sharpe = sharpe_ratio(returns, annualization = 252)
sortino = sortino_ratio(returns)

In [10]:
print("=======Performance Metrics for Linear Regression=======")
print('Maximum Drawdown: {0: .0%}'.format(maxdd))
print('Alpha: {0: .0%}'.format(alpha))
print('Beta: ', beta)
print('Annual Volatility: ', ann_vol)
print('Sharpe Ratio: ', sharpe)
print('Sortino Ratio: ', sortino)

=======Performance Metrics for Linear Regression=======
Maximum Drawdown: -16%
Alpha:  20%
Beta:  -0.24371795816040437
Annual Volatility:  0.12406190454974238
Sharpe Ratio:  1.1968728861741635
Sortino Ratio:  1.7190341979682902

In [13]:
df_return = pd.read_csv('~/Downloads/6pair.csv')
df_return = df_return.rename(columns = {'Unnamed: 0': 'Date', 'date,total asset': 'asset'})
df_return['Date'] = pd.to_datetime(df_return['Date'])
df_return = df_return.set_index(['Date'])
df_return.head()

               asset
Date
2016-01-04  1.000000
2016-01-05  1.000000
2016-01-06  0.999993
2016-01-07  0.999230
2016-01-08  1.000550

In [14]:
df = df_return.pct_change()
df.head()

               asset
Date
2016-01-04       NaN
2016-01-05  0.000000
2016-01-06 -0.000007
2016-01-07 -0.000763
2016-01-08  0.001321

In [17]:
quotes = df.join(zero, how = 'inner')
quotes['excess_return'] = quotes['asset'] - quotes['SVENY01']

returns = np.array(quotes['asset'].values)
benchmark = np.array(quotes['SVENY01'].values)

In [18]:
maxdd = max_drawdown(returns)
alpha, beta = alpha_beta(returns, benchmark)
ann_vol = annual_volatility(returns)
sharpe = sharpe_ratio(returns, annualization = 252)
sortino = sortino_ratio(returns)

In [19]:
print("=======Performance Metrics for Linear Regression with Kalman Filter=======")
print('Maximum Drawdown: {0: .0%}'.format(maxdd))
print('Alpha: {0: .0%}'.format(alpha))
print('Beta: ', beta)
print('Annual Volatility: ', ann_vol)
print('Sharpe Ratio: ', sharpe)
print('Sortino Ratio: ', sortino)

=======Performance Metrics for Linear Regression with Kalman Filter=======
Maximum Drawdown: -4%
Alpha:  6%
Beta:  0.2064687060852846
Annual Volatility:  0.027584512250742585
Sharpe Ratio:  3.147801330517112
Sortino Ratio:  5.235870759830302